/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	/* color: #000; */
	/* font-family:""; */
	font-family: "Roboto", sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	
}
/* ------------------------------ */

.main{
	padding: 210px 0 0 0;
}

.task-one {
	background-color: #29C3BE;
	padding: 0 0 212px 0;
	
}
.task-one__body {

	max-width: 1020px;
	margin: 0 auto;

}

.task-one__header{
	padding: 112px 0 0 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 79px;

}
.why-we {
flex: 0 1 411px;

}

.why-we__sub-title {
	padding: 0 0 0 33px;
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 30px;
	position: relative;
}

.why-we__sub-title::before{
	content: "";
	width: 28px;
	height: 27px;
	background: url("../img/icons/overline_mark.svg");
	position: absolute;
	top: -1px;
	left: 0;
}
.why-we__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #FFFFFF;
}
.task-one__image {
	flex: 0 0 498px;
	margin-top: -192px;
	position: relative;
}
.task-one__image::after{
	content: "";
	background: url("../img/blob_2.png")  no-repeat;
	width: 695px;
	height: 308px;
	position: absolute;
	top: 80px;
	left:-100px;
}

.task-one__image img{
	max-width: 100%;
	border-radius: 40px;
	position: relative;
	z-index: 1;
}
.task-one__column {
	display: flex;
	margin: 0 -12px;
}
.task-one__items {
	flex: 0 0 237px;
}
.item {
	display: flex;
	padding: 0 12px;
}
.item__image {
	flex: 0 0 76px;

}
.item__image img{
	max-width: 100%;
}
.item__content {
	padding: 0 0 0 11px;
	flex: 1 1 auto;
	min-height: 76px;
}
.item__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 48px;
	color: #FFFFFF;
	margin-bottom: 1px;
}
.item__text {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #5D62B5;
}







.task-two {
	padding: 86.53px 0 122px 0;
	background-color: #f5f5f5;
}
.task-two__body {
	max-width: 1020px;
	margin: 0 auto;
}

.task-two__promise{
	margin-bottom: 65px;
}
.promise {

}
.promise__sub-title {
	padding: 0 0 0 33px;
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5D62B5;
	position: relative;
	margin-bottom: 30px;
}


.promise__sub-title::before{
	content: "";
	background: url("../img/icons/overline_mark2.svg") 0 0 no-repeat;
	width: 28px;
	height: 27px;
	position: absolute;
	top: -1px;
	left: 0;
}

.promise__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
}
.task-two__column {
	display: flex;
	margin: 0 -12px;

}
.task-two__rows {
	padding: 0 12px;
}
.row {
	display: flex;
	
}
.row__image {
	flex: 0 0 63px;

}

.row__image img{
	width: 100%;
}
.row__content {
	padding: 0 0 0 23px;
	flex: 1 1 auto;	
}
.row__title {
	font-weight: 900;
	font-size: 19px;
	line-height: 34px;
	color: #F2726F;
	margin-bottom: 15px;

}
.row__text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}